page-signup {
    .no-scroll .scroll-content, .no-scroll {
        overflow: hidden;
    }

    .list {
        margin-top: 20px;
    }

    .button {
        margin: 0px;
    }

    .scroll-content {
        text-align: center;
    }
}
